In [6]:
import pandas as pd

In [8]:
# Read in a CSV File
df = pd.read_csv('data/MonthlyProductSales.csv', encoding='cp1252')

In [9]:
# Print DataFrame
df

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333.0
3,2016-07-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.0
4,2016-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",500.0
...,...,...,...
9247,2016-06-01,Zipper Ring Binder Pockets,6.0
9248,2016-07-01,Zipper Ring Binder Pockets,10.0
9249,2013-04-01,Zipper Ring Binder Pockets,14.0
9250,2016-12-01,Zipper Ring Binder Pockets,15.0
9251,2013-07-01,Zipper Ring Binder Pockets,16.0

In [10]:
# show first 10 rows
df.head(n=10)

,Month of Order Date,Product Name,Sales
0,2013-05-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
1,2015-06-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",208.0
2,2013-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",333.0
3,2016-07-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",416.0
4,2016-11-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",500.0
5,2015-08-01,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",1041.0
6,2013-11-01,1/4 Fold Party Design Invitations & White Enve...,6.0
7,2014-11-01,1/4 Fold Party Design Invitations & White Enve...,44.0
8,2014-12-01,3-ring staple pack,4.0
9,2013-01-01,3-ring staple pack,6.0

In [11]:
# show last 10 rows
df.tail(n=10)

     Month of Order Date                Product Name  Sales
9242          2015-07-01  Zipper Ring Binder Pockets    2.0
9243          2015-12-01  Zipper Ring Binder Pockets    3.0
9244          2016-01-01  Zipper Ring Binder Pockets    3.0
9245          2015-11-01  Zipper Ring Binder Pockets    4.0
9246          2014-11-01  Zipper Ring Binder Pockets    6.0
9247          2016-06-01  Zipper Ring Binder Pockets    6.0
9248          2016-07-01  Zipper Ring Binder Pockets   10.0
9249          2013-04-01  Zipper Ring Binder Pockets   14.0
9250          2016-12-01  Zipper Ring Binder Pockets   15.0
9251          2013-07-01  Zipper Ring Binder Pockets   16.0

In [12]:
# show summary stats of the sales column
df.describe()

              Sales
count   9252.000000
mean     248.308798
std      669.441779
min        0.000000
25%       18.000000
50%       60.000000
75%      222.000000
max    22638.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9252 entries, 0 to 9251
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  9252 non-null   object
 1   Product Name         9252 non-null   object
 2   Sales                9252 non-null   float64
dtypes: float64(1), object(2)
memory usage: 217.0+ KB

In [15]:
# return as a series
s = df['Product Name']

# get count of values
s.value_counts(dropna=False)

Easy-staple paper                                              32
Staples                                                        30
Staple envelope                                                30
Staples in misc. colors                                        18
Avery Non-Stick Binders                                        14
                                                               ..
Xerox 20                                                        1
Cisco Desktop Collaboration Experience DX650 IP Video Phone     1
Cisco SPA 501G IP Phone                                         1
Cisco SPA525G2 5-Line IP Phone                                  1
Panasonic BusinessÃŠTelephonesÃŠKX-T7736                          1
Name: Product Name, Length: 1850, dtype: int64